@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link img {
  width: 30px;
  /* Set a specific size for icons */
  height: 30px;
  /* Set a specific size for icons */
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text h2 {
    font-size: 40px;
    /* Adjust font size for smaller screens */
    text-align: center;
    /* Center the text */
  }

  .text p {
    font-size: 20px;
    /* Adjust font size for smaller screens */
    text-align: center;
    /* Center the text */
  }

  .links {
    align-items: center;
    gap: 20px;
  }

  .link a {
    font-size: 20px;
    /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 15px;
  }

  .text h2 {
    font-size: 30px;
    /* Further adjust font size for very small screens */
  }

  .text p {
    font-size: 16px;
    /* Further adjust font size for very small screens */
  }

  .link a {
    font-size: 18px;
    /* Further adjust font size for very small screens */
  }

  .link img {
    width: 20px;
    /* Adjust icon size for very small screens */
    height: 20px;
    /* Adjust icon size for very small screens */
  }
}